:root {
    --author-badge-enabled: inline-block;
    --author-badge-size: 30px;
    --author-name-size: 30px;
    --author-name-color: #ffffff;
    --author-name-moderator-color: #5e84f1;
    --author-name-member-color: #2ba640;
    --avatar-enabled: inline-block;
    --avatar-size: 36px;
    --text-size: 30px;
    --text-color: #dddddd;
    --background-color: #000000e6;
    --membership-join-background: #2ba64033;
    --membership-join-text-color: #40ca44;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: transparent;
    color: #fff;
    padding: 0;
    overflow: hidden;
}

.chat-container {
    max-height: 100vh;
    overflow-y: auto;
    padding: 10px;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat-item {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
    padding: 8px;
    background: var(--background-color);
    border-radius: 6px;
    backdrop-filter: blur(10px);
}

.membership-join {
    background: var(--membership-join-background);
}

.membership-join .chat-message {
    font-style: italic;
    color: var(--membership-join-text-color);
}

.chat-avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    background: #404040;
    flex-shrink: 0;
    overflow: hidden;
    vertical-align: middle;
    display: var(--avatar-enabled);
}

.chat-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat-content {
    flex: 1;
    min-width: 0;
}

.chat-header {
    display: flex;
    gap: 6px;
    margin-bottom: 2px;
    align-items: center;
    font-size: 13px;
}

.chat-author {
    font-weight: bold;
    color: #fff;
    font-size: var(--author-name-size);
    vertical-align: middle;
}

.chat-author.member {
    color: var(--author-name-member-color)
}

.chat-author.moderator {
    color: var(--author-name-moderator-color);
}

.moderator-badge {
    width: var(--author-badge-size);
    height: var(--author-badge-size);
    fill: currentcolor;
    display: inline-block;
    vertical-align: middle;
}

.member-badge {
    width: var(--author-badge-size);
    height: var(--author-badge-size);
    border-radius: 4px;
    vertical-align: middle;
    display: var(--author-badge-enabled);
}

.chat-message {
    color: var(--text-color);
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: var(--text-size);
    line-height: 1.4;
}

.chat-emoji {
    width: calc(var(--text-size) + 10px);
    height: calc(var(--text-size) + 10px);
    vertical-align: middle;
    margin: 0 2px;
}

.empty-state {
    text-align: center;
    color: #666;
    padding: 20px;
    font-size: 12px;
}

/* Scrollbar remove */
.chat-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
    width: 0;
    height: 0;
}